body{
    background-color: #edddd0;

}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
imgg{
    grid-column: 1/-1;

}
.h1headingindex{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #a6cad4;
    text-align: center;
    grid-column: 1/-1;
}

.navlist{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer{
    background-color: #a6cad4;
    text-align: center;
    grid-column: 1/-1;

}

li{
    padding: 0 10px;
}
